/* Quebec HTML Template */

@media only screen and (max-width: 1500px){
	.page-with-sidebar-nav .page-wrapper{
		padding-left:0px;
	}
}

@media only screen and (max-width: 1340px){
	.page-wrapper{
		overflow:hidden;	
	}
}

@media only screen and (max-width: 1140px){
	
	.header-style-two{
		position:relative;
		background-color:#ffffff;
	}
	
	.header-style-two .main-menu .navigation > li > ul{
		margin-top:0px;	
	}
	
	.header-style-two .header-upper .upper-right{
		width:100%;
		padding-top:15px;
	}
	
	.header-style-two .info-box{
		display:inline-block;
		float:none;
	}
	
	.header-style-two .header-upper .upper-right,
	.header-style-two .logo-outer{
		text-align:center;
	}
	
	.header-style-two .info-box:last-child{
		top:-18px;
	}
	
	.header-style-two .logo-outer{
		width:100%;
	}
	
	.main-header .header-top .top-right .top-nav li{
		padding:0px 15px;
	}
	
	.main-header .header-top .top-right .social-nav li{
		padding:0px 10px;
	}
	
	.main-header .header-top .top-left .slide .text,
	.main-header .header-top .top-left .slide .trend{
		font-size:10px;
		margin-left:0px;
	}
	
	.main-header .header-top .top-right .top-nav li a{
		font-size:11px;
	}
	
	.news-info .inner-box .text,
	.review-block .inner-box .text{
		font-size:14px;
	}
	
	.contact-section .info-column .inner-column,
	.news-block-four .inner-box .content-box .content-inner,
	.sidebar-page-container .sidebar-side .sidebar.right-sidebar{
		padding-left:0px;
	}
	
	.social-icon-one.alternate li:nth-child(4n + 0){
		margin-right:5px;
	}
	
	.news-block-two .inner-box .lower-box h3,
	.news-block-four .inner-box .content-box h3{
		font-size:18px;
	}
	
	.news-block-three .inner-box .image .overlay-box .content{
		padding:0px 15px 20px 25px;
	}
	
	.news-block-seven .inner-box .lower-box h3,
	.news-block-eight .inner-box .image .overlay-box .content h3,
	.news-block-three.style-two .inner-box .image .overlay-box .content h3{
		font-size:22px;
	}
	
	
	.news-block-three.style-three .inner-box .image .overlay-box .content h3,
	.news-block-three.style-four .inner-box .image .overlay-box .content h3{
		font-size:16px;
	}
	
	.sidebar-page-container .sidebar-side .sidebar.left-sidebar{
		padding-right:0px;
	}
	
	.about-widget .widget-content .inner .signature{
		font-size:34px;
	}
	
	.main-menu .navigation > li > a,
	.product-widget-tabs .prod-tabs .tab-btns .tab-btn{
		font-size:12px;
	}
	
	.main-slider-five .product-details .image-column .thumbs-carousel li{
		font-size:13px;
		padding:30px 10px;
	}
	
	.main-slider-six .default-tab-box .tab-btns{
		height:520px;
	}
	
	.blog-single .inner-box h2{
		font-size:24px;
	}
	
	.blog-single .inner-box .rating-box .inner{
		padding:30px 30px;
	}
	
	.main-menu .navigation > li > a{
		padding:15px 20px;
	}
	
	.gallery-section-two .filters li{
		padding:15px 20px;
	}
	
	.shop-page .basic-details .info-column .inner-column{
		padding-left:0px;
	}
	
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.header-style-two .btn-box{
		display:none;	
	}
	
	.fixed-header .sticky-header,
	.main-header .outer-box,
	.demos-section .text br,
	.main-header .main-menu .navigation > li.dropdown > a:before{
		display:none;	
	}
	
	.header-style-two .nav-outer,
	.main-header .header-upper .nav-outer{
		padding-right:0px;
		width:100%;
	}
	
	.main-header .header-top .top-right{
		text-align:center;
	}
	
	.header-style-two .main-menu .navigation > li{
		padding-right:10px;
	}
	
	.main-header .header-upper .upper-right{
		width:100%;
		text-align:center;
		/*display:none;*/
	}
	
	.main-header .logo-outer{
		width:100%;
		text-align:center;
	}
	
	.main-header .nav-outer .more-options{
		margin-top:29px;
		margin-bottom:30px;
	}
	
	.main-header .nav-outer .dropdown-outer .dropdown-menu{
		top:50px;
	}
	
	.header-style-two .navigation > li.dropdown a{
		padding-right:0px;
	}
	
	.header-style-two .main-menu .navigation > li,
	.header-style-two .main-menu .navigation > li:last-child{
		border:0px;
	}
	
	.main-menu .navigation > li > a{
		font-size:15px;
	}
	
	
	.header-style-two .main-menu{
		width:100%;
	}
	
	.news-block .inner-box .lower-box h3{
		font-size:28px;
	}
	
	.main-menu .navigation > li > a{
		padding:17px 20px;
		font-size:12px;
	}
	
	.main-footer .footer-bottom{
		text-align:center;
	}
	
	.main-footer .footer-bottom .logo{
		margin:0 auto;
		margin-bottom:20px;
	}
	
	.main-footer .footer-bottom .text{
		margin-bottom:20px;
	}
	
	.main-footer .footer-bottom .copyright-section .copyright{
		text-align:center;
		margin-top:15px;
	}
	
	.styled-pagination,
	.economics-category .owl-nav{
		margin-bottom:30px;
	}
	
	.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content h2{
		font-size:30px;
	}
	
	.default-portfolio-item{
		width:33.333%;
	}

	.main-slider-six .default-tab-box .tab-btns{
		height:400px;
	}

	.gallery-section-two .filters li{
		padding:15px 20px;
	}
	
	.main-menu .navigation > li > a{
		padding:15px 16px;
	}

	.main-slider-three .owl-dots{
		top:20px;
	}
	
	.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content h2{
		font-size:26px;
	}

	.main-slider-five .product-details .image-column .thumbs-carousel li{
		padding:15px 10px;
	}
	
	.main-slider .slide .overlay-box .overlay-inner .content h2{
		font-size:26px;
	}

	.main-slider-six .default-tab-box .tab-btns{
		overflow:hidden;
	}

	.gallery-section-two .filters li{
		padding:15px 10px;
	}

	.plugin-section .image{
		margin:0px 15px;
	}

	.main-header .header-top .top-left{
		display:none;
	}

}

@media only screen and (max-width: 768px){
	
	.main-header .main-menu{
		padding-top:0px;
		width:100%;
		margin:0px;
		display:none;
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:12px 0px 12px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		border:1px solid #e73f43;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#e73f43;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#e73f43;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		width:100%;
		padding:0px;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#e73f43;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
		-webkit-transform:scale(1) !important;
		-ms-transform:scale(1) !important;
		-o-transform:scale(1) !important;
		-moz-transform:scale(1) !important;
		transform:scale(1) !important;
		-webkit-box-shadow:none;
		-ms-box-shadow:none;
		-o-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#e73f43;
		text-align:left;
		min-height:0px;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#e73f43;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background:#e73f43;
		color:#ffffff !important;
	}
	
	.main-menu .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}

	.header-style-two .btn-box{
		left:0px;
		top:5px;
		right:auto;
		z-index:12;
		line-height:24px;
	}

	.main-header .nav-outer .more-options{
		position:absolute;
		left:0px;
		right:auto;
		margin:0px;
		top:8px;
		z-index:12;
		border:0px;
	}

	.main-header .nav-outer .dropdown-outer{
		left:0px;
	}
	
	.main-header .nav-outer .dropdown-outer .dropdown-menu{
		top:36px;
		left:0px;
	}
	
	.header-style-two .btn-box .appoint-btn{
		padding:11px 20px;
	}
	
	.main-header .logo-outer{
		padding-bottom:10px;
		padding:20px 0px;
	}
	
	.header-style-two .info-box:last-child{
		top:0px;
	}
	
	.header-style-two .btn-box,
	.main-header .nav-outer .more-options{
		display:block;
	}
	
	.main-header .header-upper .upper-right{
		width:50%;
	}
	
	.main-header .header-top .top-left,
	.main-header .header-top .top-right{
		width:100%;
	}
	
	.main-header .header-top .top-right .social-links{
		padding:0px 0px 10px 0px;
	}
	
	.main-header .header-top .top-right{
		margin-bottom:12px;
	}
	
	.main-header .outer-box{
		left: 0px;
		right: auto;
		z-index: 12;
		display:none;
	}
	
	.main-header .header-lower .search-box-outer .dropdown-menu{
		left:0px;
		top:0px;
		right:auto;
		margin-top:40px;
	}
	
	.main-header .header-lower .search-box-outer{
		padding-top:19px;
		padding-bottom:19px;
	}
	
	.news-block .inner-box .lower-box h3{
		font-size:20px;
	}
	
	.main-slider .slide .overlay-box .overlay-inner .content h2{
		font-size:24px;
	}
	
	.category-tabs-box .prod-tabs .tab-btns .pull-right{
		width:100%;
		margin-top:10px;
	}
	
	.category-tabs-box .prod-tabs .tabs-content .tab .content .column,
	.category-tabs-box .owl-nav{
		margin-bottom:40px;
	}
	
	.blog-carousel-section .owl-dots,
	.styled-pagination:before{
		display:none;
	}
	
	.news-block-five .inner-box .lower-box h3{
		font-size:16px;
	}
	
	.widget-post:last-child{
		margin-bottom:30px;
	}
	
	.blog-single .inner-box .text blockquote,
	.blog-single .inner-box h2,
	.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content h2{
		font-size:18px;
	}
	
	.default-portfolio-item{
		width:50%;
	}
	
	.main-slider-three .owl-dots,
	.main-header .header-top,
	.main-slider-six .default-tab-box .tab-btns .tab-btn:hover::before,
	.main-slider-six .default-tab-box .tab-btns .tab-btn.active-btn:before{
		display:none;
	}
	
	.main-slider-five .product-details .image-column .thumbs-carousel li{
		font-size:10px;
		padding:15px 8px;
		line-height:1.8em;
		text-transform:capitalize;
	}
	
	.widget-post:last-child{
		margin-bottom:0px;
	}
	
	.blog-single .inner-box .text .image,
	.blog-single .inner-box .rating-box .inner .raing-info .rating-text{
		margin-bottom:30px;
	}
	
	.author-box .author-comment .inner-box,
	.comment-box .comment{
		padding-left:0px;
	}
	
	.author-box .author-comment .inner-box .image,
	.comment-box .comment .author-thumb{
		position:relative;
		margin-bottom:20px;
	}
	
	.comment-box.reply-comment{
		margin-left:0px;
	}
	
	.comment-box{
		padding:15px 15px;
	}
	
	.shop-page .product-info-tabs .prod-tabs .tab-btns .tab-btn{
		width:100%;
		text-align:center;
	}
	
	.main-header .logo-outer{
		width:auto;
		text-align:left;
	}
	
	.main-header .nav-toggler{
		display:block;
	}
	
	.hidden-bar.left-align.visible-sidebar{
		display:block;
	}
	
	.news-block-two .inner-box .lower-box{
		padding-left:15px;
		padding-right:15px;
	}
	
	.shop-section .items-sorting .results-column h4{
		text-align:left;
	}
	
}

@media only screen and (max-width: 599px){
	
	.main-slider h2{
		font-size:22px;	
	}
	
	.header-style-two .info-box .icon-box{
		position:relative;
		top:0px;
		margin-bottom:15px;
		text-align:center;
	}
	
	.header-style-two .info-box{
		display:block;
		padding-left:0px;
		text-align:center;
		margin-left:0px;
	}
	
	.header-style-two .search-form,
	.header-style-two .search-form .form-group{
		width:100%;
		max-width:100%;
	}
	
	.header-style-two .header-upper .upper-right{
		padding-top:20px;
	}
	
	.news-block-six .inner-box .image-box .image .overlay-box .content .post-date.margin,
	.news-block-six .inner-box .image-box .image .overlay-box .content h2:after,
	.main-slider-five .product-details .image-column .owl-nav,
	.main-slider .slide .overlay-box .overlay-inner .content h2 br,
	.blog-single .inner-box .new-article li a .fa{
		display:none;
	}
	
	.shop-page .basic-details .details-header h4,
	.main-slider .slide .overlay-box .overlay-inner .content h2{
		font-size:20px;
	}
	
	.category-tabs-box .prod-tabs .tab-btns .dropdown-category .down-panel{
		left:0px;
	}
	
	.main-slider .slide .overlay-box .overlay-inner{
		bottom:0px;
	}
	
	.main-slider .slide .overlay-box .overlay-inner{
		padding-bottom:10px;
	}
	
	.widget-post .text{
		font-size:13px;
	}
	
	.news-block-eight .inner-box .image .overlay-box .content h3,
	.news-block-three.style-two .inner-box .image .overlay-box .content h3{
		font-size:16px;
	}
	
	.news-block-three.style-three .inner-box .image .overlay-box .content h3{
		font-size:12px;
	}
	
	.default-portfolio-item{
		width:100%;
	}
	
	.news-block-seven .inner-box .lower-box h3{
		font-size:16px;
	}
	
	.product-widget-tabs .prod-tabs .tab-btns .tab-btn{
		padding:7px 10px 8px;
	}
	
	.blog-single-slider .owl-nav .owl-prev, .blog-single-slider .owl-nav .owl-next{
		top:58%;
	}
	
	.blog-single .inner-box .new-article li a{
		font-size:12px;
	}
	
	.category-tabs-box .prod-tabs .tab-btns .tab-btn{
		font-size:11px;
		padding-bottom:0px;
	}
	
	.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content h2{
		margin-bottom:0px;
		padding-bottom:0px;
	}
	
	.main-slider-four .section-outer{
		padding-left:15px;
		padding-right:15px;
	}
	
	.main-slider-five .product-details .image-column .thumbs-carousel{
		display:none;
	}
	
	.demo-banner .text{
		font-size:20px;
	}
	
	.demo-banner .btns-box .demo-btn,
	.demo-banner .btns-box .purchase-btn{
		margin:10px 0px;
	}
	
	.plugin-section .image{
		margin-bottom:50px;
	}
	
	.plugin-section .image:last-child{
		margin-bottom:0px;
	}
	
	.demos-section h2{
		font-size:26px;
	}
	
}

@media only screen and (max-width: 479px){
	
	.news-block-three.style-two .inner-box .image .overlay-box .content h3,
	.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content h2,
	.main-slider .slide .overlay-box .overlay-inner .content h2{
		font-size:14px;
	}
	
	.video-box .overlay-box span,
	.main-slider-three .owl-nav .owl-prev, .main-slider-three .owl-nav .owl-next,
	.news-block-three .inner-box .image .overlay-box .content .tag,
	.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content .category{
		display:none;
	}
	
	.page-title .pull-right,
	.blog-single .inner-box .rating-box .inner .raing-info li .pull-right{
		width:100%;
		margin-top:10px;
	}
	
	.items-form .form-group select{
		width:100%;
	}
	
	.items-form .form-group label{
		width:auto;
	}
	
	.main-header .logo-outer .logo,
	.hidden-bar .logo{
		width:144px;
		top:10px;
		background-size:contain;
	}
	
	.news-block-six .inner-box .image-box .image .overlay-box .content .post-date{
		font-size:12px;
	}
	
	.demo-banner .logo a{
		width:100%;
	}
	
	.demo-banner .logo{
		width:100%;
		background-size:contain;
	}
	
}