[menu]
<section class="page-title">
    	<div class="auto-container">
        	<div class="clearfix">
            	<div class="pull-left">
                	<h2>Contact Page</h2>
                </div>
                <div class="pull-right">
                	<ul class="page-title-breadcrumb">
                    	<li><a href="#"><span class="fa fa-home"></span>Home</a></li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
	<!--Contact Section-->
    <section class="contact-section">
    	<div class="auto-container">
        	<!--Map Section-->
            <section class="map-section">
                <!--Map Outer-->
                <div class="map-outer">
                    <!--Map Canvas-->
                    <div class="map-canvas"
                        data-zoom="12"
                        data-lat="-37.817085"
                        data-lng="144.955631"
                        data-type="roadmap"
                        data-hue="#ffc400"
                        data-title="Envato"
                        data-icon-path="images/icons/map-marker.png"
                        data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                    </div>
                </div>
            </section>
            <!--End Map Section-->
            
            <div class="row clearfix">
            	<!--Form Column-->
            	<div class="form-column col-md-8 col-sm-12 col-xs-12">
                	<div class="sec-title">
                    	<h2>Contact Form</h2>
                    </div>
                    <div class="text">We unswer during 24 hours in working days.</div>
                    <!--Contact Form-->
                    <div class="contact-form">
                        <form method="post" action="sendemail.php" id="contact-form">
                            <div class="clearfix">
                                <div class="form-group">
                                    <input type="text" name="name" value="" placeholder="Name ..." required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Email ..." required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" value="" placeholder="Phone ..." required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" placeholder="Message ..."></textarea>
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" class="theme-btn submit-btn">Submit Comment</button>
                                </div>
                                
                            </div>
                            
                        </form>
                    </div>
                </div>
                <!--Info Column-->
                <div class="info-column col-md-4 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title">
                        	<h2>Contact Info</h2>
                        </div>
                        <ul class="social-icon-one alternate">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="g_plus"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li class="linkedin"><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
                            <li class="pinteret"><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            <li class="android"><a href="#"><span class="fa fa-android"></span></a></li>
                            <li class="instagram"><a href="#"><span class="fa fa-instagram"></span></a></li>
                            <li class="vimeo"><a href="#"><span class="fa fa-vimeo"></span></a></li>
                        </ul>
                        <ul class="info-list">
                        	<li>Quebec News Business Center, 0012 United States, Los Angeles Creative Street 15/4</li>
                            <li>Phone: +8 (200) 800-2000-600 <br> Mobile: +8 (200) 800-2000-650</li>
                            <li>General: hello@ninzio.com <br> Editor: editor@ninzio.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!--End Contact Section-->
    [footer]