<div class="news-block-four {{=it.social_network}}">
    <div class="inner-box">
        <div class="row clearfix">
            <div class="image-column col-md-6 col-sm-6 col-xs-12">
                <div class="image">
                    <a href="{{=it.link}}" target="_blank">
                        {{=it.attachment}}
                    </a>
                </div>
            </div>
            <div class="content-box col-md-6 col-sm-6 col-xs-12">
                <div class="content-inner">    
                	<h3><a href="<?= $notif->link ?>">{{=it.description}}</a></h3>                                    
                    <div class="text">{{=it.text}} </div>
                    <ul class="post-meta">
                        <li><span class="icon fa fa-clock-o"></span>{{=it.time_ago}}</li>                                                
                        <li><span class="icon fa fa-user"></span>{{=it.author_name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>